################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRMWeb/bin
/.vs/HRMWeb
/.vs/config/applicationhost.config
/HRMWeb/obj/Debug
