
@{
    ViewBag.Title = "Calander";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="Attendence">
    <div class="cont">
        <div class="row">
            <div class='col-lg-12 col-md-12 col-sm-12'>
                <label for="login100-form-btn">
                    <span style="font-size:30px"> <b>View Your Previous Attendance </b></span>
                </label>
                <div class="row">
                    <div class="col-lg-6 ">
                        <br> <br><img src="~/Content/Images/bn.gif" class="img-thumbnail">
                        <br><br>
                    </div>
                    <div class="col-lg-6">
                        <br><br><br>
                        <div class="text-right">

                            <input class="btn-success" disabled="disabled" value="      Present" /><br><br>

                            <input class="btn-primary" disabled="disabled" value="        Holiday" /><br><br>

                            <input class="btn-danger" disabled="disabled" value="         Late" /> <br><br>

                            <input class="btn-warning" disabled="disabled" value="      On Leave" /><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>