@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="bg-light shadow p-2 mt-4">HRM ABOUT US</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4 class="mt-4">Your application description page.</h4>
        <p>Use this area to provide additional information.</p>
    </div>
</div>