
<div class="row">
    <div class="container">
        <div class="col-lg-offset-5 col-md-offset-5 col-lg-6 col-md-6 img-thumbnail btn-info">
            <div class="img-responsive text-right ">
                <img src="~/Content/Images/Logo-XenialiQ-Small.png" class="img-responsive" />
            </div>
            <div class="clearfix"></div>
            <form id="frmLoginPage" action="../Home/Login" method="post" class="form-horizontal" data-toggle="validator">
                <div class="form-group has-feedback">
                    <label for="LoginID" class="col-xs-3 control-label">Login ID</label>
                    <div class="col-xs-7">
                        <input type="text" id="LoginID" name="LoginID" class="form-control" placeholder="Please Enter Login ID" data-minlength="6" maxlength="15" required />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label for="Password" class="col-xs-3 control-label">Password</label>
                    <div class="col-xs-7">
                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Please Enter Password" data-minlength="6" required />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Login</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
                <div class="form-group has-feedback">

                </div>
            </form>
        </div>
    </div>
</div>
